<header>

    <nav class="rounded-nav">
        <div class="logo">
            <img src="../Images/logo.png" style="height:50px;"/>
        </div>
        <ul>
            <li><a href="file:///C:/Users/ShreyaSalunkhe/Documents/HTML%20examples/yoga.html">Home</a></li>
            <li><a href="/compare">Compare</a></li>
            <li><a routerLink="/transaction">Transaction</a></li>
            <li><a routerLink="/personal-growth">Personal-Growth</a></li>
            <li><a routerLink="/ratings">Manager</a></li>
        </ul>
    </nav>

  </header>
  <div class="bodyimg">
    </div>

   