<main>
<app-header></app-header>

<div class="bodyimg"></div>

<div>
 
 <ul>Full Stack employee
  <li >Experienced:{{totalFullStackExpEmployee.length}}</li> 
  <li >Fresher : {{totalFullStackFrEmployee.length}}</li>
  </ul>
  <ul> SAP employee
    <li >Experienced:{{totalSAPExpEmployee.length}}</li> 
    <li >Fresher : {{totalSAPFrEmployee.length}}</li>
  </ul>

  <ul> Salesforce employee
    <li >Experienced:{{totalSalesforceExpEmployee.length}}</li> 
    <li >Fresher : {{totalSalesforceFrEmployee.length}}</li>
  </ul>

  <ul> Finance employee
    <li >Experienced:{{totalFinanceExpEmployee.length}}</li> 
    <li >Fresher : {{totalFinanceFrEmployee.length}}</li>
  </ul>
  <p>Total Employees: {{totalEmployee.length}} </p> 
</div>
    <h2>Full Stack</h2>
  <table class="minimal-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let employee of highRatingEmployeesFull">
        <td (click)="showEmployeeDetails(employee)">{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
      </tr>
    </tbody>
  </table>

  <h2>SAP</h2>
  <table  class="minimal-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of highRatingEmployeesSAP">
        <td (click)="showEmployeeDetails(employee)">{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Salesforce</h2>
  <table class="minimal-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of highRatingEmployeesSales">
        <td (click)="showEmployeeDetails(employee)">{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
      </tr>
    </tbody>
    </table>

    <h2>Finance</h2>
    <table  class="minimal-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of highRatingEmployeesFin">
          <td (click)="showEmployeeDetails(employee)">{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selectedEmployee" class="popup">
    
      <div class="popup-content">
          <h2>Employee Details</h2>
          <span class="close" (click)="closePopup()">Close</span>
          <p>Employee Name: {{employeeSelected?.name}}</p>
          <p>Employee Manager: {{employeeSelected?.manager}}</p>
          <p>Department: {{employeeSelected?.department}}</p>
          <p>FeedBack:  {{employeeSelected?.feedback}}</p>
          <p>Experience: {{employeeSelected?.experience}}</p>
          <p>Transaction Volume: {{employeeSelected?.transactionCount}}</p>
       
      </div>
    </div>

<app-footer></app-footer>
  </main>

<router-outlet></router-outlet>